body,
ol,
p,
ul {
    margin: 0;
    padding: 0
}
ol,
ul {
    list-style: none
}
.drp #menu4,
.drp select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif!important
}
img {
    border: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
.button-radius {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.search {
    width: 38%!important;
    background: url(../images/search_bg.png) center top no-repeat!important;
    background-size: 100% 100%!important;
    min-height: 31px!important;
    margin-top: 5px;
    border-radius: 0!important;
    position: relative!important
}
#myNavbar {
    text-align: right
}
.navbar-header {
    display: none
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 13px
}
.navbar-nav>li {
    display: inline-block
}
.search .search-query.form-control {
    width: 100%!important;
    text-align: center;
    background: 0 0;
    border: none
}
.search .input-group.col-md-12 {
    width: 90%
}
.search .input-group-btn {
    position: absolute;
    right: -20px;
    top: 5px
}
.search .search-query.form-control:focus {
    background: 0 0;
    box-shadow: none!important
}
.filter-list a:focus {
    background-color: #e14f45!important
}
.header_right li a {
    background-color: transparent;
    color: #fff
}
.jumbotron {
    width: 100%;
    background: url(../images/banner_image.jpg) center top no-repeat;
    padding-bottom: 115px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative
}
.jumbotron-section {
    width: 170px;
    margin: auto
}
.joinnow-button {
    width: 80px;
    float: right;
    height: 80px;
    color: #fff;
    text-align: center;
    background-color: #e14f45;
    font-size: 17px;
    border: 4px solid #b7b7b7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 19px;
    padding-top: 14px;
    font-family: 'proxima_novabold', Arial, Helvetica, sans-serif;
    margin: 5px 32px 0 0;
    transition: All 1s ease;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    text-transform: uppercase;
}
.joinnow-button:hover {
    color: #fff;
    text-decoration: none;
    border: 4px solid #1aacd2;
    background-color: #51b9d4
}
.jumbotron-container p {
    color: #fff;
    font-size: 30px;
    margin: 30px 0 2px
}
.breadcrumbs {
    width: 100%
}
.language-btn {
    border: none;
    background: none;
    color: #fff;
    border-bottom: 1px #fff solid;
    outline: 0;
    padding: 0!important;
    border-radius: 0!important;
    font-size: 12px;
    margin: 0 10px;
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif;
}
.language-btn:hover {
    background: none;
    color: #fff;
}
.language-btn:focus {
    background: none!important;
    border-bottom: 1px #fff solid!important;
    color: #fff!important;
}
.jumbotron-container {
    width: 97%;
    text-align: center;
}
.jumbotron-container h1 {
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    font-size: 65px;
    color: #fff!important;
    letter-spacing: 5px;
    margin-bottom: 15px
}
.jumbotron-listing {
    width: 63%;
    margin: auto
}
.jumbotron-listing li {
    background-color: #51b9d4;
    color: #fff;
    float: left;
    font-size: 15px;
    margin: 0 8px 12px 0;
    padding: 2px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.jumbotron-listing li:last-child {
    float: none;
    margin: 10px auto;
    width: 240px;
    clear: both
}
.neighborhood_btn.neighborhood_btn_2 {
    float: right;
    width: 389px
}
.neighborhood_btn.neighborhood_btn_2>a {
    float: right;
    font-size: 23px;
    margin: 30px 0 0;
    width: 100%;
    height: auto;
    padding: 13px 0
}
.neighborhood_btn.neighborhood_btn_2 span {
    display: block!important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 4px;
    text-transform: none!important
}
.content-section {
    padding: 60px 0;
    background: #e9e6e0
}
.content-left-section {
    width: 100%;
    float: left;
    background: url(../images/bg_img1.png) center bottom repeat-x;
    margin-bottom: 35px
}
.left-section {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 10px 12px 18px 19px
}
.left-section h3 {
    color: #000;
    text-align: left;
    letter-spacing: 2px;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 25px
}
.drp select,
.filter-list li a {
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif;
}
.clear-top {
    float: left;
    margin-bottom: 8px;
    margin-top: -5px;
    text-align: right;
    width: 100%
}
.clear-top a {
    color: #51b9d4;
    font-size: 10px
}
.clear-top a:hover {
    text-decoration: underline;
    color: #000
}
.accordion a:hover,
.filter-list li a:hover,
.neighborhood_btn a,
.offered-btn a,
.offered-btn a:hover,
.right-section a:hover,
.right-section strong a {
    text-decoration: none
}
.filter-list {
    text-align: center;
    margin-bottom: 10px
}
.filter-list li {
    display: inline-block;
    width: auto
}
.filter-list li a {
    background-color: #51b9d4;
    font-size: 12px;
    color: #fff;
    text-align: center;
    display: block;
    padding: 1px 7px 0;
    margin: 0 5px 10px 0
}
.filter-list li a:hover {
    background-color: #e14f45
}
.dropdown-container {
    margin-top: 2px
}
.drp select {
    border: 1px solid #bfbfbf;
    background: url(../images/arrow_img2.png) 121px 3px no-repeat!important;
    width: 143px;
    float: right;
    font-size: 10px;
    color: #000
}
.content-left-section h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    color: #000;
    padding-bottom: 20px
}
.content_helper h3 span {
    float: right;
    margin-top: -5px
}
.content_helper img {
    margin-top: 20px
}
.content_helper h3 span a {
    color: #51b9d4;
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif!important;
    font-size: 13px
}
.range-slider {
    width: 100%
}
.neighborhood_btn a {
    color: #fff;
    background-color: #e14f45;
    display: block;
    font-size: 12px;
    padding: 17px 0;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif;
}
.neighborhood_btn {
    float: right;
    text-align: center;
    width: 66%
}
.neighborhood_btn a span {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    letter-spacing: normal;
    text-transform: lowercase;
    position: relative
}
.join-now-area a,
.offered-btn a,
.open-title,
.save-button {
    text-transform: uppercase
}
.neighborhood_btn a:hover {
    color: #fff;
    background-color: #51b9d4;
    text-decoration: none
}
.right-section {
    background-color: #fff;
    margin-bottom: 20px
}
.save-button {
    background-color: #51b9d4;
    color: #fff;
    float: right;
    font-size: 14px;
    margin: 10px 0 0;
    padding: 3px 18px;
    text-align: center
}
.right-section .col-lg-4 img {
    width: 100%
}
.content_right_img {
    width: 27%;
    float: left
}
.content_right_img>img {
    float: left
}
.right-section strong a {
    color: #51b9d4
}
.col-lg-12.right-section {
    padding-left: 0
}
.right-section strong {
    color: #51b9d4;
    float: right;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif;
    margin-top: 10px
}
.right-section h4 {
    font-size: 30px;
    color: #000;
    margin: 0;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    letter-spacing: 2px
}
.profile-image-circle {
    width: 135px;
    float: left;
    min-height: 136px;
    position: relative;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -moz-border-radius-topright: 50%;
    -moz-border-radius-bottomright: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #e9e6e0
}
.profile-image-circle img {
    width: 100%;
    float: left;
    border-radius: 50%
}
.dark-grey {
    background-color: #d3d3d3;
}
.right-section h4 span {
    float: left;
    font-size: 13px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px
}
.content_right_inr {
    background-color: #fff;
    position: relative
}
.textarea-disable {
    font-size: 12px;
    display: inline-block;
    margin-top: 20px;
    height: 34px;
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif;
    color: #b6b6b9
}
.offered-btn {
    width: 100%;
    float: right
}
.value-right {
    color: #51b9d4;
    float: right;
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: right;
    width: 100%
}
.offered-btn a,
.rounded-value {
    color: #fff;
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif;
}
.freunde-button a,
.join-now-area a,
.modal-body,
.modal-body p,
.modal-title,
.neighborhood-button a,
.newsletter li,
.offered-btn a,
.ok-btn,
.polly-title,
.reasons-container h2,
.rounded-value,
.send-btn,
.send-btn-new {
    text-align: center
}
.right-section .col-lg-3 {
    padding-top: 20px!important
}
.offered-btn a {
    width: auto;
    float: right;
    font-size: 11px;
    background-color: #e14f45;
    padding: 2px 5px 0
}
.offered-btn a:hover {
    color: #fff;
    background-color: #51b9d4
}
.small-image-circle {
    width: 50px;
    float: right;
    margin: 12px 21px 10px 0;
    position: relative
}
.small-image-circle img {
    width: 50px;
    height: auto;
    float: left;
    border-radius: 50%
}
.rounded-value {
    width: 30px;
    height: 30px;
    padding-top: 9px;
    background-color: #e14f45;
    font-size: 10px;
    top: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    right: -12px
}
.reasons-container {
    padding: 60px 0
}
.bg_img {
    background: url(../images/bg_img7.png) center bottom repeat-x
}
.reasons-container h2 {
    font-size: 36px;
    color: #3d3d3d;
    padding-bottom: 25px;
    background: url(../images/divider_img2.gif) center bottom no-repeat;
    margin: 0
}
.accordion {
    border-left: 1px solid #f5f5f5;
    padding: 15px 20px 17px;
}
.accordion a {
    color: #fff;
    font-size: 15px;
    background-color: #e14f45;
    width: auto;
    padding: 3px 10px
}
.accordion a:hover {
    background-color: #51b9d4;
    color: #fff
}
.accordion ul {
    width: 100%;
    margin: 5px 0 0;
    padding: 0
}
.accordion li {
    font-size: 14px;
    color: #000;
    background: url(../images/check_img.png) left 5px no-repeat;
    padding: 0 0 5px 20px
}
.accordion li:last-child {
    padding-bottom: 0
}
.accordion p {
    font-size: 14px;
    margin: 5px 0 10px;
    padding: 0
}
.open-title {
    font-size: 18px;
    color: #fff!important;
    cursor: pointer;
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif;
}
.join-now-area {
    width: 100%;
    float: left;
    margin-top: 50px
}
.join-now-area p {
    font-size: 30px;
    color: #3d3d3d;
    line-height: 26px
}
.join-now-area p span {
    padding-left: 30px
}
.join-button img {
    float: left;
    margin-left: 180px
}
.join-now-area .joinnow-button {
    width: 213px;
    color: #fff;
    font-size: 48px;
    background-color: #e14f45;
    border: 6px solid #b7b7b7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    min-height: 213px;
    line-height: 46px;
    padding-top: 15px;
    margin-top: -25px;
    transition: All 1s ease;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    font-family: 'proxima_novabold', Arial, Helvetica, sans-serif
}
.join-now-area .joinnow-button:hover {
    color: #fff;
    text-decoration: none;
    border: 4px solid #1aacd2;
    background-color: #51b9d4
}
.newsletter h3,
.newsletter-form h4 {
    font-family: 'Conv_proximanova-light-webfont_0', Arial, Helvetica, sans-serif;
}
.join-now-area a:hover {
    color: #fff;
    border: 6px solid #1aacd2;
    background-color: #51b9d4;
    text-decoration: none
}
.join-now-area strong {
    float: right;
    width: 35%;
    margin-top: -35px;
    font-size: 14px;
    color: #3d3d3d;
    font-weight: 400
}
.polly-title {
    width: 100%;
    float: left;
    margin-top: 45px
}
.polly-title p {
    font-size: 36px;
    color: #51b9d4;
    margin: 0;
    padding: 0
}
.polly-title p span {
    font-size: 13px;
    color: #000;
    display: block
}
.newsletter {
    padding: 60px 0 100px;
    background: url(../images/bg_img4.png) center bottom repeat-x #e9e6e0
}
.newsletter h3 {
    font-size: 36px;
    color: #3d3d3d
}
.newsletter h3 span {
    font-size: 18px;
    display: block;
    margin-top: 10px
}
.newsletter ul {
    width: 100%;
    float: left;
    margin: 10px 0 25px
}
.newsletter li {
    float: left
}
.newsletter li a {
    margin-right: 5px
}
.newsletter li a .fa {
    height: 32px;
    width: 32px;
    padding-top: 8px;
    color: #e9e6e0;
    font-size: 20px;
    background-color: #e14f45
}
.newsletter li a .fa:hover {
    background-color: #3c5998;
    color: #fff
}
.newsletter li a .fa-tumblr:hover {
    background-color: #44546a
}
.newsletter-form {
    background: url(../images/bg_img_new.png) center bottom repeat-x #fff;
    padding: 20px 25px 50px
}
.newsletter-form h4 {
    font-size: 36px;
    color: #3d3d3d;
    margin: 0;
    padding-bottom: 16px
}
.drp #menu4,
.freunde-button a,
.neighborhood-button a,
footer li a {
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif;
    text-decoration: none
}
.freunde-button {
    padding: 0;
    margin: 20px 0 0
}
.freunde-button a {
    color: #fff;
    font-size: 14px;
    background-color: #e14f45;
    padding: 7px 11px 5px
}
.freunde-button a:hover {
    background-color: #51b9d4;
    text-decoration: none;
    color: #fff
}
.submit_button {
    background-color: #51b9d4;
    font-size: 18px;
    color: #fff;
    padding: 2px 16px 0;
    border: none
}
.submit_button:hover {
    background-color: #e14f45;
    color: #fff
}
footer {
    padding: 35px 0 10px;
    position: relative;
    background: url(../images/bg_img3.png) repeat-x;
    margin-top: -10px;
    text-align: center
}
footer li {
    display: inline-block;
    padding: 0 6%
}
footer li a {
    color: #fff;
    font-size: 13px
}
footer li a:hover {
    color: #e14f45
}
.content_right_inr.blue_color {
    background-color: #eaf6fa
}
.neighborhood-button {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.neighborhood-button a {
    color: #fff;
    background-color: #e14f45;
    display: block;
    font-size: 17px;
    padding: 17px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    line-height: 18px
}
.neighborhood-button a span {
    font-size: 10px
}
.neighborhood-button a:hover {
    color: #fff;
    background-color: #51b9d4;
    text-decoration: none
}
.panel-title {
    background-color: #51b9d4
}
.panel-title a {
    width: 100%;
    float: left;
    padding: 13px 15px;
    background: url(../images/plus_img.png) 98% 9px no-repeat
}
.open-title .collapsed {
    background: url(../images/close_img.png) 98% 9px no-repeat!important
}
body .news_field {
    border: 1px solid #f0f0f0;
    padding: 10px 10px 9px;
    color: #cecece;
    font-size: 13px;
    outline: 0;
    background: 0 0;
    line-height: normal!important;
    height: auto;
    margin-bottom: 15px;
    text-transform: none
}
.drp #menu4,
.txt-field {
    border: 1px solid #bfbfbf
}
#scrollbar1 {
    width: 100%
}
#scrollbar1 .viewport {
    width: 96%;
    height: 800px;
    overflow: hidden;
    position: relative
}
#scrollbar1 .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 96%
}
#scrollbar1 .scrollbar {
    background: url(../images/bg-scrollbar-track-y.png) no-repeat;
    position: relative;
    float: right;
    width: 15px;
    padding: 16px 0
}
#scrollbar1 .track {
    background: url(../images/bg-scrollbar-trackend-y.png) 0 100% no-repeat;
    height: 100%;
    width: 15px;
    position: relative;
    padding: 0 1px
}
#scrollbar1 .thumb {
    background: url(../images/bg-scrollbar-thumb-y.png) 50% 100% no-repeat;
    height: 20px;
    width: 25px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -5px
}
#scrollbar1 .thumb .end {
    background: url(../images/bg-scrollbar-thumb-y.png) 50% 0 no-repeat;
    overflow: hidden;
    height: 5px;
    width: 25px
}
#scrollbar1 .disable {
    display: none
}
.drp #menu4 {
    background: url(../images/arrow_img2.png) 121px 3px no-repeat!important;
    width: 143px;
    float: right;
    font-size: 10px;
    color: #000;
    padding-left: 5px
}
.modal-footer,
.modal-header,
.ok-btn {
    border: none
}
.register-pop,
.register-pop:focus,
.register-pop:hover {
    background: 0 0
}
.drp .dropdown-menu {
    padding: 10px;
    margin-top: 20px;
    width: 190px!important;
    right: 0;
    min-width: 190px!important
}
.drp .dropdown-menu label {
    font-weight: 400
}
.radio-btn label,
label {
    font-weight: 400!important
}
.drp .dropdown-menu label input {
    margin-right: 8px
}
.block_btn.not_member.ft {
    font-size: 16px!important
}
.open3>.dropdown-menu,
.open4>.dropdown-menu,
.open5>.dropdown-menu {
    display: block
}
label {
    color: #9c9c9c!important;
    text-transform: none!important
}
.register-pop,
.send-btn {
    text-transform: uppercase
}
.register-pop {
    font-size: 14px;
    border: none
}
.modal-title {
    color: #e14f45;
    font-size: 24px
}
.ok-btn {
    display: inline-block;
    background-color: #51b9d4;
    font-size: 18px;
    color: #fff;
    outline: 0;
    padding: 1px 20px;
    margin-bottom: 10px
}
.modal-body p span {
    color: #000;
    font-size: 19px
}
.modal-body p {
    color: #000;
    font-size: 14px;
    padding: 15px 0
}
.input-small-center {
    border: 1px solid #e5e5e5;
    color: #000;
    font-size: 13px;
    margin-bottom: 20px;
    outline: 0;
    padding: 5px;
    width: 250px
}
.send-btn {
    background-color: #e14f45;
    border: none;
    color: #fff;
    font-size: 18px;
    outline: 0;
    padding: 2px 10px
}
.drop-down,
.txt-field {
    color: #000;
    padding: 7px;
    margin-bottom: 15px;
    font-size: 13px
}
.drop-down {
    color: #999999;
}
.drop-down {
    background: #fff
}
.txt-field {
    float: left;
    outline: 0;
    text-transform: none;
    width: 100%!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.drop-down {
    border: 1px solid #bfbfbf;
    float: left;
    outline: 0;
    width: 100%
}
.drop-down select,
.send-btn-new {
    border: none;
    outline: 0;
    float: left
}
.drop-down select {
    color: #757575;
    font-size: 13px;
    width: 99%
}
.send-btn-new {
    background-color: #e14f45;
    color: #fff;
    font-size: 18px;
    padding: 3px 17px;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
    text-transform: uppercase
}
.radio-btn {
    width: 100%;
    float: left;
    font-size: 14px;
    margin-bottom: 10px;
    color: #9c9c9c
}
.radio-btn label {
    color: #9c9c9c!important;
    float: left;
    text-transform: none!important
}
button:focus {
    border: none!important;
    outline: 0!important
}
.radio-button {
    float: left;
    margin-right: 7px!important
}
.content-left-section .dropdown-menu {
    right: 0!important;
    left: inherit!important
}
#custom-search-input .btn-danger.focus,
.btn-danger:focus {
    background: 0 0!important;
    border-color: #761c19;
    color: #50b7d2;
    box-shadow: none!important
}
/*customize*/

.reasons-container .panel-default>.panel-heading {
    color: #333;
    border: 0 !important;
    margin-bottom: 0;
    height: 45px;
    background: url(../images/reason_bg.png) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    border-radius: 0;
}
/* Vertical Offset Bottom */

.vert-offset-top-12 {
    margin-top: 12em;
}
.vert-offset-top-11 {
    margin-top: 11em;
}
.vert-offset-top-10 {
    margin-top: 10em;
}
.vert-offset-top-9 {
    margin-top: 9em;
}
.vert-offset-top-8 {
    margin-top: 8em;
}
.vert-offset-top-7 {
    margin-top: 7em;
}
.vert-offset-top-6 {
    margin-top: 6em;
}
.vert-offset-top-5 {
    margin-top: 5em;
}
.vert-offset-top-4 {
    margin-top: 4em;
}
.vert-offset-top-3 {
    margin-top: 3em;
}
.vert-offset-top-2 {
    margin-top: 2em;
}
.vert-offset-top-1 {
    margin-top: 1em;
}
.vert-offset-top-0 {
    margin-top: 0;
}
/* Vertical Offset Bottom */

.vert-offset-bottom-12 {
    margin-bottom: 12em;
}
.vert-offset-bottom-11 {
    margin-bottom: 11em;
}
.vert-offset-bottom-10 {
    margin-bottom: 10em;
}
.vert-offset-bottom-9 {
    margin-bottom: 9em;
}
.vert-offset-bottom-8 {
    margin-bottom: 8em;
}
.vert-offset-bottom-7 {
    margin-bottom: 7em;
}
.vert-offset-bottom-6 {
    margin-bottom: 6em;
}
.vert-offset-bottom-5 {
    margin-bottom: 5em;
}
.vert-offset-bottom-4 {
    margin-bottom: 4em;
}
.vert-offset-bottom-3 {
    margin-bottom: 3em;
}
.vert-offset-bottom-2 {
    margin-bottom: 2em;
}
.vert-offset-bottom-1 {
    margin-bottom: 1em;
}
.vert-offset-bottom-0 {
    margin-bottom: 0;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
/*header_navbar*/

.navbar-default {
    background-color: #282c29;
    padding: 14px 0 6px 0;
}
.btn-danger {
    color: #50b7d2;
    background: none;
    padding: 2px 12px;
}
.btn-danger:hover {
    background: none !important;
    border: none !important;
    color: #50b7d2 !important;
    padding: 2px 12px;
}
.navbar-inverse {
    background: none;
    border: none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.btn-danger {
    border: none;
}
.navbar {
    margin-bottom: 0;
    border: none;
    text-transform: uppercase
}
.jumbotron {
    margin-bottom: 0;
}
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid transparent;
}
.panel {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
/*header_navbar*/
/*tab*/

.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    border: none;
    background-color: transparent!important;
}
.tab-content {
    background-color: #fff;
    float: left;
    padding: 10px 15px 28px;
    width: 100%;
}
.nav-tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0
}
.nav-tabs li {
    float: left;
    margin: 0 -15px -1px 0
}
.nav-tabs a {
    float: left !important;
    position: relative !important;
    padding: 0 58px !important;
    height: 0 !important;
    line-height: 35px !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    color: #fff !important;
    border-right: 35px solid transparent !important;
    border-bottom: 35px solid #51b9d4 !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.nav-tabs a:focus {
    outline: 0
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: none;
}
#login-tab .modal-dialog {
    width: 424px;
}
.nav-tabs > li > a {
    border-radius: 0 0 0 0;
}
.tabbed-modal .active a {
    z-index: 3 !important;
    border-bottom-color: #e14f45 !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.tabbed-modal span {
    float: left;
    margin-left: 0;
    margin-top: 7px;
	width:100%;
}
.tabbed-modal h4 span 
{
color: #000;
font-size: 14px;
}
.tabbed-modal span a {
    color: #9c9c9c;
    font-size: 14px;
}
.nav-tabs li:hover a {
    background-color: transparent!important;
    border-top-color: transparent!important;
    border-left-color: transparent!important;
}
.tabbed-modal .wrapped .modal-dialog
{
width:600px;
background-color:#fff;
}
.tabbed-modal .wrapped button.close {
right: 30px;
z-index: 9999;
}
.invite-form
{
width:440px;
margin:auto;
}
.modal-dialog-content
{
border:2px dashed #e14f45;
padding:20px 0;
margin-top:30px;
}
.modal-wrapped
{
padding:0 25px 30px;
}
.popup-inner .modal-content
{
background-color:#fff !important;
}
#myModal6 .popup-inner .modal-content
{
background:none !important;
margin-top: 36px;
}
#myModal7 .popup-inner .modal-content
{
background:none !important;
margin-top: 36px;
}
/*tab end*/
/*customize end*/
/*inner pages*/

.comm-section {
    margin-top: 20px;
    width: 100%;
    padding: 0 15px 20px;
}
.comment-heading {
    margin-bottom: 10px !important;
    font-size: 24px;
}
.comment-text-field {
    width: 100%;
    float: left;
    outline: none;
    height: 32px;
    color: #9197a3;
    padding: 0 10px;
    border: 1px solid #dcdee3;
    font-size: 14px;
}
.comment-pic img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.comment-search-text {
    width: 90%;
    float: left;
    font-size: 14px;
}
.comment-search-text strong {
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
}
.bg-col {
    background-color: #f2f2f2;
}
.text-message {
    border: medium none;
    font-size: 14px;
    min-height: 115px;
    margin-bottom: 15px;
    outline: medium none;
    width: 100%;
    resize: none;
    color: #a4a4a4;
    font-family: Arial, Helvetica, sans-serif;
}
.admin-edit {
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 50px;
}
.admin-edit a {
    display: block;
    background-color: #cf2a27;
    color: #fff;
    font-size: 11px !important;
    padding: 1px 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
		border:none;
outline:none;
-webkit-border-radius: 0!important;
-moz-border-radius: 0!important;	
border-radius: 0!important;
}
.admin-edit a:hover
{
background-color:#51b9d4;
}
.title-right-top {
    font-size: 32px;
    background-color: #fff;
    float: left;
    padding: 3px 10px;
    width: 100%;
}
.title-right-top h3 {
    float: left;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
}
.text-field {
    background-color: #fff;
    padding: 13px 15px 5px 10px;
    font-size: 13px;
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    margin: 0;
    width: 89%;
    float: left;
}
.image-upload {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    border: 1px solid #bfbfbf;
}
.image-upload img {
    width: 100%;
    float: left;
}
.upload-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #51b9d4;
    color: #fff;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 4px 12px;
    text-align: center;
    width: auto;
}
.upload-btn:hover {
    text-decoration: none;
    color: #fff;
}
.description-title {
    padding: 3px 0 5px !important;
    font-size: 34px;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.add-description {
    border: none;
    float: left;
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif;
    font-size: 13px;
    min-height: 150px;
    padding: 5px 0;
    width: 100%;
}
.invite-btn {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
    margin-right: 1px;
    font-size: 17px;
    text-transform: uppercase;
}
.invite-btn a {
    text-decoration: none;
    color: #fff;
}
.invite {
    float: left;
    font-size: 13px;
    line-height: 23px;
    text-align: left;
    width: 270px;
    background-color: #51b9d4;
}
.open-btn {
    background-color: #51b9d4;
    color: #fff;
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    margin-right: 5px;
    float: right;
    padding: 7px 12px;
    text-align: center;
    text-transform: uppercase;
}
.user-block {
    float: left;
    height: 1140px;
    overflow-y: scroll;
    width: 100%;
}
.round-img {
    float: left;
    width: 50px;
}
.round-img img {
    border-radius: 100%;
    float: left;
    width: 100%;
}
.user-block-top {
    width: 100%;
    float: left;
    margin-bottom: 4px;
    padding: 5px;
}
.user-block-top.gray {
    background-color: #eee;
}
.user-top-left img {
    border-radius: 100%;
    float: left;
    width: 100%;
}
.invite-btn .setting.dropdown-menu {
    right: 0 !important;
}
.invite-btn .setting {
    width: 270px !important;
}
.user-block-top-right {
    float: right;
    line-height: 50px;
    width: 71%;
    color: #000;
    text-transform: none;
}
.user-block-top-right > input {
    float: right;
    margin-top: 17px !important;
}
.listing-topbar {
    overflow: hidden;
}
.listing-topbar li {
    float: left;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.listing-topbar li a {
    background-color: #51b9d4;
    color: #fff!important;
    display: block;
    margin-right: 1px;
    padding: 5px 15px;
    text-decoration: none;
}
.edit-button {
    background-color: #cf2a27;
    border: medium none;
    color: #fff;
    float: right;
    font-size: 11px;
    margin: 5px 0 5px;
    outline: medium none;
    padding: 2px 7px 1px;
    text-transform: uppercase;
}
.edit-button:hover {
    background-color: #51b9d4;
}
.listing-topbar ul {
    margin: 0!important;
    min-height: inherit!important;
}
#community-point.tab-pane li {
    font-size: 14px;
    color: #000;
    padding-bottom: 30px;
}
#community-point.tab-pane .title-top {
    color: #e14f45;
}
#community-point.tab-pane li a {
    background-color: #51b9d4;
    color: #fff;
    width: auto;
    float: left;
    margin-bottom: 27px;
    padding: 1px 10px;
    text-decoration: none;
}
#community-point.tab-pane li a:hover {
    background-color: #e24f45;
}
#community-point.tab-pane li:last-child {
    padding-bottom: 0;
}
.bg-color {
    padding-top: 10px;
    padding-bottom: 30px;
    background: #fff url(../images/bg_img_new.png) bottom repeat-x;
}
/*inner navbar*/

.nav-icons img {
    -webkit-border-radius: 150%;
    -moz-border-radius: 150%;
    border-radius: 150%;
    float: left;
    margin: 0 3px;
}
.value-text {
    position: absolute;
    background-color: #e14f45;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    top: 2px;
    right: 0;
    z-index: 999;
    text-align: center;
}
.nav-icons .dropdown-menu {
    left: inherit;
    width: 320px;
    right: 0;
    top: 40px;
}
.nav-icons .dropdown-menu::before {
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 9px;
    top: -7px;
}
.notifications {
    right: 76px!important;
}
.notifications li {
    border-bottom: 1px solid #d8d8d8;
}
.notifications li:last-child {
    border-bottom: none;
}
.notifications li a img {
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    width: 40px;
}
.notifications li a {
    border-radius: 0;
    color: #000;
    display: block;
    font-size: 14px;
    overflow: hidden;
    height: inherit;
    padding: 10px 6px;
    text-decoration: none;
    width: 100%;
    text-transform: none;
}
.notifications a strong {
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif;
    font-weight: normal !important;
}
.dropdown-toggle {
    position: relative;
}
.notifications li a:hover {
    background-color: #51b9d4;
    color: #fff;
}
.setting {
    background-color: #fff;
    border-bottom: medium none;
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif;
    padding: 10px !important;
    right: 36px !important;
    top: 4px;
    width: 180px !important;
    z-index: 999;
    min-width: 180px !important;
}
.setting > h3 {
    background-color: #bebebe;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 5px 10px !important;
    text-align: left;
    text-transform: none;
}
.setting li {
    float: left;
    font-size: 15px;
    width: 100%;
}
.setting li a {
    border-radius: 0;
    color: #000;
    display: block;
    height: inherit;
    padding: 5px 10px;
    text-align: left;
    width: 100%;
    text-transform: none;
}
.log-btn {
    background-color: #e14f45;
    border-radius: 0;
    color: #fff;
    float: left;
    font-size: 14px;
    height: inherit;
    margin: 5px 7%;
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
    width: 86% !important;
}
.books-listing .value-right {
    margin-top: 15px;
}
.form-group:last-child {
    margin-bottom: 0;
}
.user_block {
    margin-top: 34px;
}
.group-section {
    background: #fff url(../images/bg_img_new.png) center bottom repeat-x;
    padding-top: 10px;
    padding-bottom: 25px;
    overflow: hidden;
}
.group-section span {
    float: left;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    margin-right: 10px;
}
.group-section ul {
    margin-top: 10px;
}
.group-section li {
    float: left;
}
.group-section li a {
    background-color: #51b9d4;
    font-size: 14px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif!important;
    padding: 6px 12px;
    margin-right: 5px;
}
.open_btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #e14f45;
}
/*inner navbar end*/
/*newsfeed*/

.heart-icon {
    position: absolute;
    right: -9px;
    top: 28px;
    width: 20px;
    z-index: 999;
}
.heart-icon img {
    width: 100%;
}
/*newsfeed end*/
/*others_profile*/

.banner-block {
    background: url(../images/banner_image3.jpg) center top no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    padding: 15px 0 32px;
}
.profile-container {
    position: relative;
    width: 135px;
    height: 135px;
    overflow: hidden;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    text-align: center;
}
.profile-info {
position: absolute;
background-color: #e14f45;
padding: 1px 0;
width: 100%;
color: #fff;
text-align: center;
bottom: 20px;
font-size: 12px;
}
.contact-button {
float: right;
width: 100%;
}
.profile-picture {
position: relative;
width: 135px;
margin: 49px auto 12px;
}
.profile-picture span {
background-color: #e24f45;
border-radius: 100%;
height: 40px;
text-align: center;
right: 0;
position: absolute;
width: 40px;
font-size: 14px;
color: #fff;
font-family: 'montserratregular', Arial, Helvetica, sans-serif;
padding: 9px 0;
z-index: 7;
}
.block-button {
background-color: #51b9d4;
color: #fff;
font-size: 11px !important;
padding: 1px 5px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
border:none;
outline:none;
-webkit-border-radius: 0!important;
-moz-border-radius: 0!important;	
border-radius: 0!important;
}
.block-button:hover {
    background-color: #e24f45;
    text-decoration: none;
    color: #fff;
}
.contact-button-link {
    background-color: #51b9d4;
    color: #fff;
    float: right;
    font-size: 13px !important;
    padding: 4px 5px 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	border:none;
outline:none;
-webkit-border-radius: 0!important;
-moz-border-radius: 0!important;	
border-radius: 0!important;
}
.contact-button-link:hover {
    background-color: #eb3428;
    text-decoration: none;
    color: #fff;
}
.others-container {
    padding: 20px 0;
    background-color: #e9e6e0;
}
body .link-button {
    color: #fff;
    text-decoration: none;
    background-color: #51b9d4;
    padding: 3px 15px;
    float: right;
    border-radius: 0;
    margin-right: 1px;
    width: auto;
	border:none;
	outline:none;
    margin-bottom: 20px;
}
body .link-button:hover {
    background-color: #e14f45;
}
.others-container h2 {
    font-size: 30px;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.textarea-disabled {
    border: none;
    margin: 10px 0;
    outline: medium none;
    width: 100%;
    color: #989898;
    height: 110px;
    word-break: break-all;
}
.others-container ul {
    margin: 5px 0 41px;
    min-height: 83px;
}
.others-container li a {
    color: #989898;
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
    text-decoration: none;
}
.group-container {
    margin-top: 40px;
    padding-bottom: 50px;
    padding-top: 15px;
    overflow: hidden;
    background: #fff url(../images/bg_img_new.png) bottom repeat-x;
}
.group-container .col-md-2 {
    width: 14%;
}
.group-container h3 {
    font-size: 30px;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.books-listing {
    margin: 20px 0 50px;
    padding-bottom: 70px;
    padding-top: 20px;
    overflow: hidden;
    background: #fff url(../images/bg_img_new.png) bottom repeat-x;
}
.books-listing h3 {
    font-size: 30px;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.brown-color {
    background-color: #f4f1f1;
}
.books-listing .right-section .col-lg-3 {
    padding-top: 0 !important;
}
.books-listing .right-section img {
    width: auto;
}
.delete-btn {
    width: 100%;
    float: left;
    background-color: #e14f45;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 2px 0;
}
.edit-btn {
    width: 100%;
    float: left;
    background-color: #51b9d4;
    border-radius: 0;
    padding: 2px 0;
}
.edit-btn:hover {
    background-color: #e14f45;
}
.btn-info {
    border: none;
}
.profile-container a {
    display: block;
    color: #fff;
}
.profile-info.edit-christ {
    bottom: 0;
    padding: 3px 0;
}
.profile-container a:hover {
    text-decoration: underline;
}
#scrollbar3 {
    overflow-y: scroll;
    height: 600px;
}
.unlock-button {
    margin-right: 15px;
}
/*others_profile end*/
/*show-listing*/

.banner-inner h3 {
    color: #fff;
    font-size: 30px;
}
.banner-inner p {
    color: #ffffff;
    font-size: 30px;
    margin: 30px 0 2px;
}
.betty-right .contact-button-link {
    display: inline-block;
    float: none;
    margin-top: 20px;
}
.paragraph-text {
    background-color: #fff;
    color: #cecece;
    font-size: 13px;
    padding: 10px 0;
}
.comm-section ul {
    min-height: inherit;
    margin: 5px 0 0;
}
.comm-section li a {
    color: #1885a0;
}
.comm-section p,
.comm-section small {
    font-size: 14px;
}
.comm-section small a {
    color: #1885a0;
}
.comm-section small a:hover {
    color: #1885a0;
}
blockquote footer {
    background: none;
    text-align: left;
    margin: 0;
    padding: 0;
}
blockquote {
    border-left: 0;
    margin: 0 0 10px;
    padding-left: 0!important;
    padding-bottom: 0!important;
}
blockquote .small:before,
blockquote footer:before,
blockquote small:before {
    display: none;
}
.grey-color {
    background-color: #f2f2f2;
}
.comm-section figure {
    padding-top: 15px;
}
.view_more_comment {
    color: #1885a0;
    display: inline-block;
    margin-top: 10px;
}
.view_more_comment:hover {
    color: #1885a0;
}
.textarea {
    border: 1px solid #dcdee3;
    padding: 5px;
    width: 100%;
    font-size: 14px;
}
.more_ans,
.close_answer {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -20px;
    padding-left: 10px;
}
.nested-comment {
    display: none;
    padding-left: 40px;
}
/*show-listing end*/
/*group members*/

.group-radius {
    margin: 65px 0 0;
}
.group-open {
    background-color: #2b78e4;
    border: 4px solid #4b4b4b;
    border-radius: 100%;
    color: #fff;
    float: none;
    font-size: 18px;
    margin: 15px auto;
    padding: 32px 0 0;
    text-transform: uppercase;
    width: 109px;
    height: 108px;
    line-height: 19px;
}
.group-leave-button {
    background-color: #51b9d4;
    color: #fff;
    display: inline-block;
    margin: 17px 0 0;
    padding: 4px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.group-leave-button:hover {
    background-color: #cf2a27;
}
.group-block {
    width: 100%;
    padding: 15px 0 60px;
    background: #e9e6e0 url(../images/bg_img_gray.png);
}
.invite-drop-menu {
    width: 100%;
    background-color: #51b9d4;
    border: 0;
    color: #fff;
    float: left;
    font-size: 12px;
    outline: medium none;
    padding: 5px 15px;
    text-align: center;
text-transform: uppercase;
font-family: "Conv_ProximaNova-Regular_0", Arial, Helvetica, sans-serif !important;
}
.invite-drop-menu:focus
{
border:none;
outline:none;
color:#fff;
text-decoration: none;
}
.invite-button:hover {
    background-color: #e62618;
    text-decoration: none;
    color: #fff;
}
.invite-dropdown {
    float: left;
    height: 1140px;
    overflow-y: scroll;
    width: 100%;
}
.invite-dropdown li {
    width: 100%;
    display: inline-block;
    margin-bottom: 4px;
    padding: 4px;
}
.invite-dropdown li:nth-child(odd) {
    background: #eeeeee;
}
.invite-dropdown li p {
    padding-top: 12px;
}
.invite-dropdown li p span {
    padding-left: 10px;
}
.invite-footer {
    background-color: #e14f45;
    color: #fff;
    float: left;
    font-size: 13px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: none;
    width: 100%;
}
.group-block .dropdown-menu {
    top: 25px;
}
.invite-button:focus,
.invite-button:hover {
    color: #fff;
    text-decoration: none;
}
.group-tab li {
    float: left;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.group-tab li a {
    background-color: #51b9d4;
    color: #fff;
    display: block;
    margin-right: 1px;
    padding: 5px 15px;
    text-decoration: none;
}
.group-tab li a:hover {
    background-color: #e14f45;
}
.group-tab li.active a {
    background-color: #e24f45 !important;
}
.group-block .tab-content {
    background: #fff url(../images/bg_img_new.png) center bottom repeat-x;
    margin-top: 19px;
    padding: 20px 16px;
}
.comment-info {
    border: medium none;
    margin: 10px 0;
    outline: medium none;
    width: 100%;
    color: #989898;
    height: 100px;
    word-break: break-all;
}
.group-block .tab-content h3 {
    font-size: 30px;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
}
.group-scrollbar {
    float: left;
    height: 368px;
    overflow-y: scroll;
    width: 100% !important;
    margin: 20px 0;
}
.group-close {
    background-color: #cf2a27 !important;
}
.group-secret {
    background-color: #00ffff;
    color: #000000;
}
.edit_button {
    float: right;
    background-color: #cf2a27;
    font-size: 11px;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin: 10px 0 5px;
    padding: 2px 7px 1px;
}
.secondary-color {
    background-color: #cf2a27;
}
.group-scrollbar .profile-picture {
    margin-top: 0;
}
.delete-button {
    background-color: #51b9d4;
    border: medium none;
    color: #fff;
    font-family: "Conv_ProximaNova-Regular_0", Arial, Helvetica, sans-serif !important;
    font-size: 12px;
    margin-top: 8px;
    outline: medium none;
    padding: 4px 6px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    margin-right: 10px;
}
/*group members end*/
/*connection center*/

.connection-block {
    background: #fff url(../images/bg_img2.jpg) right top no-repeat;
}
.connection-block h4 {
    font-size: 30px;
    color: #000;
    font-family: 'mathletebulky', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.connection-block p {
    padding-left: 10px;
    line-height: 16px;
}
.open-button {
    width: 90px;
    float: left;
    text-align: center;
    background-color: #51b9d4;
    font-size: 13px;
    color: #fff;
    border: none;
    outline: none;
    padding: 3px 0;
    margin-left: 10px;
}
.open-button:focus,
.open-button:hover {
    background-color: #e14f45;
    color: #fff;
}
.connection-blue-color {
    background: #eaf6fa url(../images/bg_img_h.jpg) right top no-repeat;
}
/*comment hide section*/

.answer-block {
    width: 100%;
    border: none;
    outline: none;
    height: 136px;
    font-size: 13px;
    color: #a4a4a4;
    background: #fff url(../images/bg_img2.jpg) right top no-repeat;
    padding: 10px;
}
.comment_hide .open-button {
    margin-top: 10px;
    margin-left: 0;
    text-transform: uppercase;
}
.comment_hide h3 {
    font-size: 14px;
    margin-bottom: 8px !important;
}
.show-comments {
    padding: 15px;
    margin-bottom: 10px;
    width: 100% !important;
    background: #FFF url(../images/burn_img.png) right top repeat-y;
}
.comment-nopadding {
    padding-right: 0;
}
.openbtn {
    display: none;
}
/*comment hide section end*/
/*connection center end*/
/*payment-settings*/

.payment-block {
    padding: 15px 30px;
    background: #fff url(../images/bg_img_new.png) center bottom repeat-x;
}
.payment-block h3 {
    color: #000;
    font-family: "mathletebulky", Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
}
.payment-block-inner {
    margin: 30px 0 0;
}
.payment-block-inner h4 {
    font-size: 20px;
    color: #e14f45;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.payment-block-inner h4 span {
    color: #000;
    font-family: "code_boldregular", Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 250px;
    display: inline-block;
}
.payment-block-inner h4 b {
    font-weight: normal;
    width: 190px;
    display: inline-block;
}
.change-button {
    background-color: #52bad7;
    font-family: "Conv_ProximaNova-Regular_0", Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    color: #fff;
    padding: 2px 18px;
    border-radius: 0;
    border: 0;
}
.payment-save-button:hover,
.change-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #cf2a27;
}
.payment-save-button {
    background-color: #52bad7;
    font-family: "Conv_ProximaNova-Regular_0", Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    color: #fff;
    padding: 2px 18px;
    border-radius: 0;
    border: 0;
}
.payment-block-inner .radio {
    margin-bottom: 20px;
}
/*payment-settings end*/
/*account settings*/

.account-settings {
    padding: 15px 30px;
    background: #fff url(../images/bg_img_new.png) center bottom repeat-x;
    width: 100%;
    display: inline-block;
}
.account-settings h3 {
    color: #000;
    font-family: "mathletebulky", Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin: 0 0 10px!important;
    padding: 0;
}
.account-settings .checkbox {
    margin-bottom: 15px;
}
.account-settings .checkbox label {
    text-transform: uppercase!important;
}
.account-settings p {
    font-size: 13px;
    font-family: 'code_boldregular', Arial, Helvetica, sans-serif;
}
.account-user {
    color: #e14f45;
    font-size: 31px !important;
    font-family: "mathletebulky", Arial, Helvetica, sans-serif;
    margin-right: 10px;
}
.profile-edit-button {
    background-color: #cf2a27;
    border: medium none;
    color: #fff;
    font-size: 11px;
    outline: medium none;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 0;
    margin-top: -11px;
}
.profile-edit-button:hover {
    background-color: #51b9d4;
}
.account-user-top {
    padding-top: 25px;
}
.payment-info {
    font-family: "Conv_ProximaNova-Regular_0", Arial, Helvetica, sans-serif !important;
    font-size: 18px!important;
    margin-right: 10px;
}
.invite-button {
    background-color: #cf2a27;
    border: 0;
    color: #fff;
    font-size: 13px;
    outline: medium none;
    padding: 1px 20px 1px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Conv_ProximaNova-Regular_0", Arial, Helvetica, sans-serif !important;
    border-radius: 0;
    width: auto;
    float: none;
}
.invite-button:hover {
    background-color: #b31815;
    color: #fff;
}
.invite-outer {
    margin-top: 10px;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}
.invite-outer h4 {
    color: #e14f45;
    font-size: 18px;
}
.invite-outer span {
    font-size: 12px;
    margin-bottom: 10px;
}
.invite-content {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}
.invite-content .checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}
/*account settings end*/
/*pop-up*/

.popup-outer .modal-content {
    border-radius: 0;
    box-shadow: 0 0 0!important;
    border: 0;
    padding: 30px 20px 20px;
    display: inline-block;
    width: 100%;
}
.popup-inner {
    background: url(../images/bg_img1.png) center bottom repeat-x;
    padding-bottom: 6px;
}
.invite-popup {
    width: 100%;
    padding: 20px;
}
.invite-popup-inner {
    border: 2px dashed #e14f45;
    padding: 15px;
    display: inline-block;
}
.invite-popup-inner h3 {
    font-size: 30px;
    color: #e14f45;
    padding: 0 0 4px 0;
    margin: 0;
}
.invite-popup-inner p {
    font-size: 14px;
    color: #000;
}
.pop_up {
    font-family: 'Conv_ProximaNova-Regular_0', Arial, Helvetica, sans-serif;
    text-align: center;
}
.pop_up h4 {
    font-size: 30px;
    color: #e14f45;
    margin-bottom: 15px;
}
.pop_up p {
    color: #000;
    float: left;
    font-size: 14px;
    text-align: center;
    width: 100% !important;
}
.login-button {
    background-color: #51b9d4;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 2px 15px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    margin: 15px 0;
}
.login-button:hover {
    background-color: #cf2a27;
    color: #fff;
}
.invite_social_network {
    margin: 14px 0 40px;
    display: inline-block;
}
.invite-form .form-control {
    border-radius: 0;
    margin-bottom: 10px;
}
.location-popup h4 {
    text-align: left;
    margin-bottom: 0;
}
.postalcode-popup p,
.location-popup p {
    text-align: left;
    margin-top: 20px;
}
button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 1!important;
}
.pop_up .form-control {
    border-radius: 0
}
.postalcode-popup p {
    margin-top: 0;
    margin-bottom: 10px;
}
.neighborhood-popup h5 {
    color: #e14f45;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
.neighborhood-popup p {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.neighborhood-popup p span {
    color: #000;
    font-size: 19px;
}
.neighborhood-field {
    width: 380px;
    margin: auto;
}
.neighborhood-field .form-control {
    border-radius: 0;
    width: 79%;
}
.send-button {
    border: none;
    outline: none;
    background-color: #e14f45;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 3px 10px 2px;
    text-transform: uppercase;
    border-radius: 0;
}
.send-button:hover {
    background-color: #cf2a27;
    color: #fff;
}
.register-top-form h3 {
    font-size: 16px;
    color: #000;
    text-align: center;
    font-family: 'Conv_proximanova-light-webfont_0', Arial, Helvetica, sans-serif;
    padding: 15px 0 0;
    margin: 0 0 16px;
}
.register-top-form .form-control {
    margin-bottom: 10px;
    border-radius: 0;
}
.register-top-form .checkbox {
    margin-bottom: 15px;
}
.forget-text,
.forget-text:hover {
    color: #9c9c9c;
    font-size: 14px;
    margin-left: 15px;
    line-height: 30px;
}
.register-year .modal-content {
    background-color: inherit;
}
.register-year .register-top-form {
    background-color: #fff;
    padding: 20px;
}
.register-year .popup-inner {
    background: none;
}
.register2 {
    width: 100%;
    float: left;
    margin-top: -35px;
}
.register2 li {
    float: left;
    margin: 0 0 -1px 0;
    width: 50%;
}
.register2 li a {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    height: 0;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #51b9d4;
    opacity: 1;
    filter: alpha(opacity=100)
}
.register2 .active a {
    border-bottom-color: #e14f45;
    opacity: 1;
    z-index: 3;
}
/*pop-up-end*/
